*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  transition: all .7s ease;
}
.container{
  background-color: rgb(21, 20, 20);
  color: white;
  width: 80%;
  margin: auto;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-weight:bold;
}
a{
  text-decoration: none;
  color:white;
}
.text-color{
  color:rgb(51, 228, 169);
}
.logo{
  font-size:small;
  border: 3px solid rgb(51, 228, 169);
  border-radius: 50%;
  padding:5px;
}
.logo, a, input, button, textarea, img{
  cursor:pointer;
}
.top{
  margin-top: 25px;
   display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li a:hover{
  color: rgb(51, 228, 169);
}
#hero{
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pic{
  width: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px rgb(51, 228, 169);
  opacity:0.7;
}
.pic:hover{
  width: 400px;
  box-shadow: 5px 5px rgb(216, 219, 218);
  opacity:0.8;
}
.resume{
  border: 2px solid rgb(51, 228, 169);
  padding: 10px 25px;
  margin:15px 0px;
  width:55%;
  font-weight: 600;
  background-color: rgb(57, 147, 113);
  color: white;
  border-radius: 5px;
}
.resume:hover{
  background-color: rgb(41, 75, 138);
}
.bxs-download{
  border:2px solid rgb(41, 75, 138);
  border-radius: 50%;
  padding: 5px;
}
.bxs-download:hover{
  border:2px solid rgb(14, 206, 123);
}
.style{
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.hero-text{
  margin-bottom: 15px;
}
#contact{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 25px;
}
.forms{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap:8px;
  width:50%;
}
.input-clr{
  background-color: rgb(61, 61, 61);
}
.btn{
  margin-top: 5px;
  width:100px;
  font-weight: 700;
  background-color: rgb(51, 228, 169);
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  border:none;
  border-radius: 5px;
  box-shadow:5px 5px 5px rgb(51, 228, 169);
}
.btn:hover{
  background-color:rgb(32, 248, 248);
  color:rgb(0, 0, 0);
  box-shadow:5px 5px 5px rgb(32, 248, 248);
  margin-top: 5px;
  width:100px;
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 5px;
}
input:focus, textarea:focus{
  outline: none;
}
input:hover, textarea:hover{
  padding:5px;
}
::placeholder{
  padding:5px;
}
::placeholder:hover{
  padding:10px;
}
#skills{
  margin: 50px;
}
#skills h1{
  text-align: center;
  margin: 50px;
}
.skill-coloumns{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:70px;
}
.skill-percent{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.outer-bar{
  width:100%;
  height:10px;
  background-color: rgb(105, 105, 105);
}
.inner-bar1{
  width:90%;
  height:10px;
  background-color: rgb(51, 228, 169);
}
.inner-bar2{
  width:90%;
  height:10px;
  background-color: rgb(51, 228, 169);
}
.inner-bar3{
  width:80%;
  height:10px;
  background-color: rgb(51, 228, 169);
}
.inner-bar4{
  width:85%;
  height:10px;
  background-color: rgb(51, 228, 169);
}
.inner-bar5{
  width:70%;
  height:10px;
  background-color: rgb(51, 228, 169);
}
.inner-bar6{
  width:80%;
  height:10px;
  background-color: rgb(51, 228, 169);
}
.inner-bar7{
  width:90%;
  height:10px;
  background-color: rgb(51, 228, 169);
}
.inner-bar8{
  width:90%;
  height:10px;
  background-color: rgb(51, 228, 169);
}
#protfolio{
  margin: 50px;
}
#protfolio h1, #protfolio p{
  text-align: center;
}
.card{
  width:100%;
  border-radius: 30px;
  position: relative;
}
.card-image img{
  width:100%;
  height:200px;
  border-radius:30px;
  opacity:0.8;
}
.project-item{
  margin:20px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:20px;
}
.source-icons{
  width:100%;
  height:200px;
  border-radius:30px;
  background-color: rgb(51, 228, 169);
  align-items: center;
  display: flex;
  justify-content:space-around; 
  position: absolute;
  top:0;
  left:0;
  opacity:0;
}
.source-icons .bx{
  font-size:2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.source-icons .bx:hover{
  background-color: rgb(255, 255, 255);
  scale:1.5;
}
.source-icons .bxl-github{
  color:rgb(14, 14, 14);
}
.source-icons .bxl-netlify{
  color:rgb(38, 231, 231);
}
.source-icons .bxl-youtube{
  color:rgb(238, 5, 5);
}
.card:hover .source-icons{
  opacity:1;
  scale:1;
}
#footer{
border-radius: 50px;
padding:5px;
display: inline-block;
background-color: rgb(32, 30, 30);
align-items: center;
justify-content: center;
gap:10px;
margin: 1px;
position:fixed;
bottom:0;
right:38%;
}
.bxs-home-heart{
  font-size: 2rem;
  color:rgb(255, 255, 255);
}
.bxs-home-heart:hover{
color:rgb(45, 201, 149);
}
.bx-child{
  font-size: 2rem;
  color:rgb(255, 255, 255);
}
.bx-child:hover{
color:rgb(45, 201, 149);
}
.bxs-briefcase{
  font-size: 2rem;
  color:rgb(255, 255, 255);
}
.bxs-briefcase:hover{
color:rgb(45, 201, 149);
}
.bxs-envelope{
  font-size: 2rem;
  color:rgb(255, 255, 255);
}
.bxs-envelope:hover{
color:rgb(45, 201, 149);
}
.footer2{
  margin:10px;
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container{
    background-color: rgb(21, 20, 20);
    color: white;
    width: 80%;
    margin: auto;
  }
  .navbar, ul, li, a{
      list-style-type: none;
      margin: 5px;
      padding: 0px;
      justify-content: space-between;
      display: inline-block;
    }
    .skill-coloumns{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap:70px;
    }
    .project-item{
      margin:20px;
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:20px;
    }
    .resume{
      border: 2px solid rgb(51, 228, 169);
      padding: 10px 25px;
      margin:15px 0px;
      width:55%;
      font-weight: 600;
      background-color: rgb(57, 147, 113);
      color: white;
      border-radius: 5px;
    }
    .pic{
      width: 200px;
      border-radius: 50%;
      box-shadow: 5px 5px rgb(51, 228, 169);
      opacity:0.7;
    }
    .pic:hover{
      width: 250px;
      box-shadow: 5px 5px rgb(216, 219, 218);
      opacity:0.8;
    }
    #hero{
      margin: 50px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      justify-content: space-between;
    }
    .forms{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap:8px;
      width:100%;
    }
    .footer2{
      margin:10px;
      padding:10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  

@media only screen and (min-width: 600px) {
  .container{
    background-color: rgb(21, 20, 20);
    color: white;
    width: 95%;
    margin: auto;
  }
  .project-item{
    margin:20px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
  }
  .resume{
    border: 2px solid rgb(51, 228, 169);
    padding: 10px 25px;
    margin:15px 0px;
    width:65%;
    font-weight: 600;
    background-color: rgb(57, 147, 113);
    color: white;
    border-radius: 5px;
  }
  .pic{
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px rgb(51, 228, 169);
    opacity:0.7;
  }
  .pic:hover{
    width: 300px;
    box-shadow: 5px 5px rgb(216, 219, 218);
    opacity:0.8;
  }

}
@media only screen and (min-width: 768px) {
  .container{
    background-color: rgb(21, 20, 20);
    color: white;
    width: 90%;
    margin: auto;
  }
  .project-item{
    margin:20px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
  }
  .resume{
    border: 2px solid rgb(51, 228, 169);
    padding: 10px 25px;
    margin:15px 0px;
    width:55%;
    font-weight: 600;
    background-color: rgb(57, 147, 113);
    color: white;
    border-radius: 5px;
  }
  .pic{
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px rgb(51, 228, 169);
    opacity:0.7;
  }
  .pic:hover{
    width: 300px;
    box-shadow: 5px 5px rgb(216, 219, 218);
    opacity:0.8;
  }
}
@media only screen and (min-width: 992px) {
  .container{
    background-color: rgb(21, 20, 20);
    color: white;
    width: 80%;
    margin: auto;
  }
  .project-item{
    margin:20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
  }
  .resume{
    border: 2px solid rgb(51, 228, 169);
    padding: 10px 25px;
    margin:15px 0px;
    width:55%;
    font-weight: 600;
    background-color: rgb(57, 147, 113);
    color: white;
    border-radius: 5px;
  }
  .pic{
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px rgb(51, 228, 169);
    opacity:0.7;
  }
  .pic:hover{
    width: 400px;
    box-shadow: 5px 5px rgb(216, 219, 218);
    opacity:0.8;
  }
}
@media only screen and (min-width: 1200px) {
  .container{
    background-color: rgb(21, 20, 20);
    color: white;
    width: 80%;
    margin: auto;
  }
  .project-item{
    margin:20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
  }
  .resume{
    border: 2px solid rgb(51, 228, 169);
    padding: 10px 25px;
    margin:15px 0px;
    width:55%;
    font-weight: 600;
    background-color: rgb(57, 147, 113);
    color: white;
    border-radius: 5px;
  }
  .pic{
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px rgb(51, 228, 169);
    opacity:0.7;
  }
  .pic:hover{
    width: 400px;
    box-shadow: 5px 5px rgb(216, 219, 218);
    opacity:0.8;
  }
}
